.random-planet {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 16px;
  padding: 12px;
  display: flex;
  gap: 16px;
  color: white;
}

.planet-img {
  width: 240px;
  border-radius: 12px;
}

.planet-info {
  display: flex;
  flex-direction: column;
}
